#container {
  display: flex;
  height: 100vh;
}

#sidebar {
  width: 15vw;
  padding: 1.5rem;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

#main>section {
  padding: 1.5rem;
  border-left: 1px solid #ccc;
  height: 100%;
}

#main>section:not(:first-child) {
  border-top: 1px solid #ccc;
}

#main>#new-message {
  height: 3rem;
}
